.eventdetails{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.event-top{
    border-radius: 10px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-top>img{
    border-radius: 10px;
    width: 70%;
    height: 100%;
   object-fit: cover;
}
.event-center{
    margin-top: 2vw;
    display: flex;
    font-weight: 550;
    width: 70%; 
    justify-content: space-between;
}
.event-center>:first-child{
    font-size: 24px;
    font-weight: 500;
    font-family: "poppins", sans-serif;
}
.event-center>:last-child{
    font-size: 18px;
}
.event-end{
    width: 70%;
}
.event-end>p{
    margin-top: 2vw;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    word-spacing: 3px;
    text-align: justify;
}



@media (max-width:700px){
    .event-top{
        height: 300px;
    }
    .event-top>img {
        height: 300px;
        width: 90%;
    }
.event-center {
        margin-top: 10px;
        align-items: center;
        width: 90%;
    }

    .event-center .tit{
        font-size: 19px;
        font-weight: 550;
    }

    .event-center .dat{
        font-size: 15px;
    }
    
    .event-end{
        width: 90%;
        text-align: justify;
    }
}


@media (max-width: 800px) {
    .event-end {
        text-align: justify;
    }
}


@media (max-width:380px) {
    .event-center .tit{
        font-size: 15px;
    }

    .event-center .dat{
        font-size: 13px;
    }

    .event-center{
      padding: 10px 8px;
    }
    .event-end p{
        font-size: 12px;
    }
}

@media (max-width:400px) {
    .event-end p{
        font-size: 12px;
    }
}
